@model Trainee.Application.ViewModels.ProdutoViewModel
@{
    ViewData["Title"] = "Edição Produto";
}

<h2>Edição Produto</h2>

<hr />

@using (Html.BeginForm("atualizar", "produto", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @placeholder = "Nome" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Valor, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Valor, new { @class = "form-control", @placeholder = "Valor" })
            @Html.ValidationMessageFor(m => m.Valor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ativo, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Ativo, new { @class = "form-control", @placeholder = "Ativo" })
            @Html.ValidationMessageFor(m => m.Ativo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}